## Introduction

In this notebook, youâ€™ll find a series of practical R problems for you to attempt as homework. Have a go before the next session and we will go through the answers as a group during the next class. I will release the answers after the next session.

You should write your answers in the code blocks beneath the questions below. You will need to run the code blocks that are provided for you as you go to load / create the objects you will need into your environment.

## Homework for session 1

### 1: assigning objects

Using population figures from the [mid-2020 UK Census compiled here](https://en.wikipedia.org/wiki/Demographics_of_the_United_Kingdom#Population)...

1. Create four objects, one for each of the four countries of the UK and assign the correct population figure to each country

In [ ]:
England <- 56550138
Ireland <- 1895510
Scotland <- 5466000
Wales <- 3169586

2. Use the countries objects to calculate the total population of the UK. Assign this output to a new variable called totalUKpop

In [ ]:
England + Ireland + Scotland + Wales
# OR
sum(England, Ireland, Scotland, Wales)
totalUKpop <- England + Ireland + Scotland + Wales

3. Using the countries objects and UK population total, calculate the proportion of the total population that each country represents

In [ ]:
(England/totalUKpop)*100 # England
(Ireland/totalUKpop)*100 # Ireland
(Scotland/totalUKpop)*100 # Scotland
(Wales/totalUKpop)*100 # Wales

### 2: Working with numeric vectors

1. Using the ```seq()``` function, create a numeric vector of 1 to 10,000 and call it numbers

In [ ]:
numbers <- seq(1,10000, by = 1)

2. Print the 20th number from the vector you created

In [ ]:
numbers[20]

3. Print the 50th to the 70th numbers from the vector you created

In [ ]:
numbers[50:70]

### 3: working with string vectors

Theodosius Dobzhansky famously said "Nothing in biology makes sense except in the light of evolution".

In [ ]:
# Create a string vector of words from this quote
quote1 <- c("Nothing", "biology", "in", "makes", "sense")
quote2 <- c("evolution", "in", "the", "light", "of", "except")

1. Rearrange the words in your vectors so that the quote matches the original when you print them one after the other

In [ ]:
quote1 <- quote1[c(1,3,2,4,5)]
quote1
quote2 <- quote2[c(6,2,3,4,5,1)]
quote2

2. Use the ```paste()``` function to create a new object that pastes the two parts of the quote in the correct order into a single string vector

In [ ]:
quote <- paste(quote1, quote2)
quote

### 4: Working with data frames

In [ ]:
# Load the iris dataframe into your environment
data(iris)

1. Display the top rows of the iris dataframe using the ```head()``` function

In [ ]:
head(iris)

2. Calculate the means of petal length, petal width, sepal length and sepal width across the whole iris dataset using the ```mean()``` function

In [ ]:
mean(iris$Petal.Length)
mean(iris$Petal.Width)
mean(iris$Sepal.Length)
mean(iris$Sepal.Width)

3. How many different species are there in the iris dataset?

In [ ]:
unique(iris$Species)
# OR
levels(iris$Species)

3. Add a column to the iris dataframe called Approx.Sepal.Area that multiplies sepal length by sepal width. Look at the top of the dataframe with ```head()``` to check the output

In [ ]:
iris$Approx.Sepal.Area <- iris$Sepal.Length * iris$Sepal.Width
head(iris)

4. Make a new dataframe that contains only data for the setosa iris species using the ```subset()``` function. Use ```View()``` to check you have subsetted correctly.

In [ ]:
new_iris <- subset(iris, Species == "setosa")
View(new_iris)

### 5: Plotting with base R

Using the iris dataset that you already have loaded:

1. Make a boxplot showing the differences in Petal length between species and then Petal width

In [ ]:
boxplot(Petal.Length ~ Species, data = iris)
boxplot(Petal.Width ~ Species, data = iris)

2. Make a scatter plot of petal length against petal width

In [ ]:
plot(iris$Petal.Length, iris$Petal.Width)

3. Make a histogram of sepal length and then one of sepal width

In [ ]:
hist(iris$Sepal.Length)
hist(iris$Sepal.Width)