## Introduction

In this notebook, youâ€™ll find a series of practical R problems for you to attempt as homework. Have a go before the next session and we will go through the answers as a group during the next class. I will release the answers after the next session.

You should write your answers in the code blocks beneath the questions below. You will need to run the code blocks that are provided for you as you go to load / create the objects you will need into your environment.

## Homework for session 3

Begin by running the code block below to load what you will need into your environment.

In [ ]:
library(tidyverse)
data(iris)
# you should see an output about attaching packages and a few conflicts

### 1. For loops

1. Write a for loop to add 50 to every value in the Sepal.Length column in the iris dataset and print the output to the screen.

2. Create a new column in the iris dataframe called Sepal.Size. Write a for loop to multiply Sepal.Length and Sepal.Width and assign the output to the new Sepal.Size column.

### 2. Conditional statements

1. Write an `if()` statement to check whether a number is positive.

2. Using the `if()` and `else()` functions check whether a value is greater than 10.

3. Use the ```ifelse()``` function to answer the same question as 2. above.

4. Use the `ifelse()` function to create a new variable in the iris data frame called Petal.Size. The new variable should be a character where Petal.Size is 'large' when Petal.Width is above 0.9 and 'small' when Petal.Width is 0.9 or below.

### 3. Functions

1. Write a function to take two numbers as input arguments and output their sum.

2. Write a function to multiply two numbers together, with a default argument of 10 for the second number.

3. Write a function to test whether a number is greater than 100.

4. Write a function to convert a temperature from celsius to farenheight. NOTE: you can use google to find out what the maths of this conversion is!

### 4. Lists

1. Create a list named game_list that contains three named elements:

      A vector of character names: "Zelda", "Link", "Ganon"

      A vector of numbers from 1 to 10

      A logical vector: TRUE, TRUE, FALSE

2. Using square brackets, access the second element in the list game_list, and store it in a variable named second_element.

3. From the game_list, extract the second character in the characters vector.

4. Check the class of the numbers element in the game_list.

5. Modify the game_list to include a new element named 'scores', which is a vector of the numbers 50, 60, and 70.

### 5. Apply functions

Run the code provided to you in the box below to load the Orange data set into your environment. We will use this dataset for the questions below.

In [ ]:
data(Orange)
Orange <- lapply(Orange, as.numeric)
Orange <- as.data.frame(Orange)

1. Using the `apply()` function, calculate the max of each column in the Orange dataset, excluding NA values.

2. Write an `apply()` function to calculate the sum of each row in the Orange dataset, excluding NA values.

3. Use `apply()` to square each value in the Orange dataset.

4. Write a custom function that takes a vector and returns the minimum and maximum values. Then use `apply()` to apply this function to each column in the Orange dataset.

5. Use `lapply()` to calculate the length of each element in the list you created earlier called game_list.

6. Using `lapply()`, calculate the mean of each column in the Orange dataset, excluding NA values.

7. Use `sapply()` to calculate the length of each element in the list game_list. Make sure the result is a vector, not a list.

8. Now repeat question 7 above, but return the result as a list.

9. Use `apply()` and an anonymous function (defined only inside the apply function) to count the number of missing values (NA) in each column of the Orange dataset.