## Introduction

In this notebook, you’ll find a series of practical R problems for you to attempt as homework. Have a go before the next session and we will go through the answers as a group during the next class. I will release the answers after the next session.

You should write your answers in the code blocks beneath the questions below. You will need to run the code blocks that are provided for you as you go to load / create the objects you will need into your environment.

## Homework for session 3

Begin by running the code block below to load what you will need into your environment.

In [1]:
library(tidyverse)
data(iris)
# you should see an output about attaching packages and a few conflicts

── Attaching packages ────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.5.1     ✔ purrr   1.0.2
✔ tibble  3.2.1     ✔ dplyr   1.1.4
✔ tidyr   1.3.1     ✔ stringr 1.5.1
✔ readr   2.1.5     ✔ forcats 1.0.0
── Conflicts ───────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### 1. For loops

1. Write a for loop to add 50 to every value in the Sepal.Length column in the iris dataset and print the output to the screen.

In [ ]:
for (val in iris$Sepal.Length){
    print(val + 50)
}

2. Create a new column in the iris dataframe called Sepal.Size. Write a for loop to multiply Sepal.Length and Sepal.Width and assign the output to the new Sepal.Size column.

In [ ]:
# create the new empty column
iris$Sepal.Size <- NA

# loop over rows in the data frame and add to the new column
for (i in 1:nrow(iris)){
    iris$Sepal.Size[i] <- iris$Sepal.Length[i] * iris$Sepal.Width[i]
}

# check our new column looks right
head(iris)

### 2. Conditional statements

1. Write an `if()` statement to check whether a number is positive.

In [ ]:
# assign a value to y to test our function
x <- 5
x <- -10

# write the if statement
if (x > 0) {
  print("x is positive")
}

2. Using the `if()` and `else()` functions check whether a value is greater than 10.

In [ ]:
# assign a value to y to test our function
y <- 8
y <- 15

# write the if else statement
if (y > 10) {
  print("y is greater than 10")
} else {
  print("y is 10 or less")
}

3. Use the ```ifelse()``` function to answer the same question as 2. above.

In [ ]:
# assign a value to y to test our function
y <- 8
y <- 15

# write the ifelse statement
ifelse(y > 10, "y is greater than 10", "y is 10 or less")

4. Use the `ifelse()` function to create a new variable in the iris data frame called Petal.Size. The new variable should be a character where Petal.Size is 'large' when Petal.Width is above 0.9, and 'small' when Petal.Width is 0.9 or below.

In [ ]:
# add the new variable to the iris dataset
iris$Petal.Size <- ifelse(iris$Petal.Width > 0.9, "large", "small")

# check out output
iris$Petal.Size

# check it with a boxplot
ggplot(iris, aes(Petal.Size, Petal.Width)) +
geom_boxplot()

### 3. Functions

1. Write a function to take two numbers as input arguments and output their sum.

In [ ]:
# define the function
add_numbers <- function(a, b) {
  return(a + b)
}

# test the function
add_numbers(4,6)
add_numbers(10,43)

2. Write a function to multiply two numbers together, with a default argument of 10 for the second number.

In [ ]:
# define the function
multiply <- function(x,y=10){
    return(x*y)
}

# test the function
multiply(3)
multiply(5,4)

3. Write a function to test whether a number is greater than 100.

In [ ]:
# define the function
is_100 <- function(x){
  if (x > 100){
      "x is greater than 100"
  } else {"x is less than or equal to 100"}
}

# test the function
is_100(12)
is_100(14343)

4. Write a function to convert a temperature from celsius to farenheight. NOTE: you can use google to find out what the maths of this conversion is!

In [ ]:
# define the function
celsius_to_fahrenheit <- function(celsius) {
  return((celsius * 9/5) + 32)
}

# test the function
celsius_to_fahrenheit(25)

### 4. Lists

1. Create a list named 'game_list' that contains three named elements:

      A vector of character names: "Zelda", "Link", "Ganon"

      A vector of numbers from 1 to 10

      A logical vector: TRUE, TRUE, FALSE

In [2]:
# create the list
game_list <- list(characters = c("Zelda", "Link", "Ganon"),
                  numbers = 1:10,
                  logic = c(TRUE, TRUE, FALSE))
# check the list
game_list

$characters
[1] "Zelda" "Link"  "Ganon"

$numbers
 [1]  1  2  3  4  5  6  7  8  9 10

$logic
[1]  TRUE  TRUE FALSE

2. Using square brackets, access the second element in the list game_list, and store it in a variable named second_element.

In [ ]:
# access the second element with square brackets
second_element <- game_list[[2]]

# check our new variable
second_element

3. From the game_list, extract the second character in the characters vector.

In [ ]:
# using the list names
second_character <- game_list$characters[2]
second_character

# using square brackets
second_character <- game_list[[1]][2]
second_character

4. Check the class of the numbers element in the game_list.

In [ ]:
# check the class
class(game_list$numbers)
class(game_list[[2]])

5. Modify the game_list to include a new element named scores, which is a vector of the numbers 50, 60, and 70.

In [ ]:
# add the new element to the list
game_list$scores <- c(50, 60, 70)

# check the list
game_list

### 5. Apply functions

Run the code provided to you in the box below to load the Orange data set into your environment. We will use this dataset for the questions below.

In [3]:
data(Orange)
Orange <- lapply(Orange, as.numeric)
Orange <- as.data.frame(Orange)

1. Using the `apply()` function, calculate the max of each column in the Orange dataset, excluding NA values.

In [ ]:
# Use apply to calculate max of each column
apply(Orange, 2, max, na.rm = TRUE)

2. Write an `apply()` function to calculate the sum of each row in the Orange dataset, excluding NA values.

In [ ]:
# Use apply to calculate sum of each row
apply(Orange, 1, sum, na.rm = T)

3. Use `apply()` to square each value in the Orange dataset.

In [ ]:
# Use apply to square every value in the dataset
apply(Orange, 2, function(x) { x^2 })

4. Write a custom function that takes a vector and returns the minimum and maximum values. Then use `apply()` to apply this function to each column in the Orange dataset.

In [ ]:
# Define a function to return both minimum and maximum
min_max <- function(x) {
  return(c(min = min(x, na.rm = TRUE), max = max(x, na.rm = TRUE)))
}

# Use apply to apply the min_max function to each column
apply(Orange, 2, min_max)

5. Use `lapply()` to calculate the length of each element in the list you created earlier called game_list.

In [ ]:
# Use lapply to get the length of each element in the list
lapply(game_list, length)

6. Using `lapply()`, calculate the mean of each column in the Orange dataset, excluding NA values.

In [ ]:
# Use lapply to calculate the mean of each column
lapply(Orange, mean, na.rm = TRUE)

7. Use `sapply()` to calculate the length of each element in the list game_list. Make sure the result is a vector, not a list.

In [ ]:
# Use sapply to get the length of each element in the list as a vector
sapply(game_list, length)

8. Now repeat question 7 above, but return the result as a list.

In [ ]:
# Use sapply to get the length of each element, don't simplify the output
sapply(game_list, length, simplify = F)

9. Use `apply()` and an anonymous function (defined only inside the apply function) to count the number of missing values (NA) in each column of the Orange dataset.

In [ ]:
# Put an anonymous function inside apply
apply(Orange, 2, function(x){
    sum(is.na(x))
})